.contenedor {
    box-shadow: -3px 6px 30px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: -3px 6px 30px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: -3px 6px 30px 1px rgba(0,0,0,0.7);
}

.button-sm {
    font-size: 12px;
}

    
