/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
    background: rgb(2,0,36);
    background: linear-gradient(158deg,rgba(72,118,189,.75),rgba(84,72,189,.75) 33%,rgba(143,72,189,.75) 66%,rgba(189,72,177,.75));
    background-attachment: fixed;
}

.styled-hr {
    border: 2px solid white;
}

.inputPlace::placeholder {
    color: white
}

html {
    height: 100vh;
    font-family: sans-serif;
}

