<app-header></app-header>
<div class="m-5">
    <div class="container d-flex flex-row justify-content-between">
        <h1 class="text-light">Reporte de Cobranzas</h1>
        <div>
          <button class="btn btn-outline-primary text-white" (click)="getAllCollections()">
            Mostrar
            <div class="spinner-border text-primary align-center" role="status" *ngIf="loading">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
    </div>
    <hr class="styled-hr">

    <!-- init -->
    <div class="d-flex flex-row w-100 gap-3">
      <app-forms *ngIf="isShow && !loading || hasError" (formValue)="formDataChange($event)"></app-forms>
      <div class="table-responsive w-100 card" *ngIf="isShow && !loading">
        <table class="table table-primary styled-hr table-hover table-bordered">
          <thead class="table-light">
            <tr>
              <th scope="col" *ngFor="let column of tableData[0] | keyvalue">{{ column.key | uppercase }}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="filteredDataTable.length > 0; else showAllData">
              <tr *ngFor="let row of filteredDataTable">
                <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
              </tr>
            </ng-container>
            <ng-template #showAllData>
              <tr *ngFor="let row of tableData">
                <td *ngFor="let cell of row | keyvalue">{{ cell.value }}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <!-- <div class="alert alert-danger w-100" role="alert" *ngIf="hasError">
        No se encontro respuesta!
      </div> -->
    </div>
    
    <!-- end -->
    
  </div>
          



 